<div class="bg-darkgray h-84 main-index ovf-x-h">
    <div class="container h-100 desktop">
        <div class="text-center h-100 d-grid" id="main_video">
            <div class="w-100 h-90 m-auto">
                <iframe class="w-100 h-100" frameborder=0 src="https://www.youtube.com/embed/XN-PVRgxP_E?autoplay=1&mute=1&loop=1&rel=0&playlist=XN-PVRgxP_E" allowfullscreen></iframe>
            </div>
        </div>
        <div class="h-100 main_calendar d-grid" id="main_calendar">
            <div class="w-60 calendar text-center m-auto">
                <div class="white">
                  <h2 class="orange">1차 모집</h2></br>
                  <p>
                    지원서 접수</br>
                    18.12.17 ~ 18.12.23 자정
                  </p>
                  <p>
                    1차 서류발표</br>
                    18.12.24
                  </p>
                  <p>
                    2차 면접</br>
                    개별 통지
                  </p>
                  <p>
                    최종 합격 발표</br>
                    19.01.01
                  </p>
                </div>
                <div class="white">
                  <h2 class="orange">2차 모집</h2></br>
                  <p>
                    지원서 접수</br>
                    19.02.25 ~ 18.03.08 자정
                  </p>
                  <p>
                    1차 서류발표</br>
                    19.03.11
                  </p>
                  <p>
                    2차 면접</br>
                    개별 통지
                  </p>
                  <p>
                    최종 합격 발표</br>
                    개별통지
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-100 mobile">
      <div class="w-100 h-40">
          <iframe class="w-100 h-100" frameborder=0 src="https://www.youtube.com/embed/XN-PVRgxP_E?autoplay=1&mute=1&loop=1&rel=0&playlist=XN-PVRgxP_E" allowfullscreen></iframe>
      </div>
      <div class="calendar h-60 text-center p-3">
        <div class="white">
          <h2 class="orange">1차 모집</h2>
          <p>
            지원서 접수</br>
            18.12.17 ~ 18.12.23 자정
          </p>
          <p>
            1차 서류발표</br>
            18.12.24
          </p>
          <p>
            2차 면접 & 최종 합격 발표</br>
            개별 통지
          </p>
          <!--<p>-->
          <!--  최종 합격 발표</br>-->
          <!--  19.01.01-->
          <!--</p>-->
        </div>
      </div>
    </div>
</div>