<%=render '/header'%>
<div class="bg-dark recruits-index">
    <div class="container">
        <div class="header">
            <div class="container home-header">
    
                <div class="event-title">
                  <h1><font class="font-weight-bold">멋쟁이 사자처럼</font> 7기</h1>
                  <hr>
                  <h5 class="font-weight-bold">1차 교육 기간: 18년 03월 17일 - 18년 08월 말</h5>
                </div>
    
                <div class="event-slogan">
                  <img height="100%" src="https://d2hmp4n7p97ldw.cloudfront.net/assets/home/slide/02-slogan-f77dde1a45e987c0c1c2603a1dfcddbde2a7a1d5750e1ee7ff115e415a56b0db.png" alt="02 slogan">
                </div>
    
                <div class="event-button">
                </div>
    
              </div>
            
        </div>
        <div class="main">
            <h1 class="text-center">멋쟁이 사자처럼 7기 지원하기</h1>
            <%=link_to '지원하기', recruits_sign_up_path, class: "" %>
            </br>
            <%=link_to '내 지원서', recruits_sign_in_path, class: "" %>
        </div>
    </div>
</div>
