<%=render '/header'%>
<div class="bg-darkgray recruits-index h-92">
    <div class="container h-100">
        <div class="header h-100 text-center py-5">
            <div class="container event-poster h-80">
                <div class="event-title h-30 whitea">
                  <h1 class=""><b>멋쟁이 사자처럼 7기</b></h1>
                  <hr class="white">
                  <h5 class="font-weight-bold">모집 기간</h5></br>
                  <h5>18년 12월 17일 - 12년 08월</h5>
                </div>
                <div class="event-slogan h-70">
                  <img height="100%" src="https://d2hmp4n7p97ldw.cloudfront.net/assets/home/slide/02-slogan-f77dde1a45e987c0c1c2603a1dfcddbde2a7a1d5750e1ee7ff115e415a56b0db.png" alt="02 slogan">
                </div>
            </div>
            <div class="event-button h-20">
                <div class="event-grid h-100">
                    <div class=" my-auto">
                        <%=link_to '지원하기', recruits_sign_up_path, class: "btn btn-orange bdr-3 px-5 py-3" %>
                    </div>
                    <div class="my-auto">
                        <%=link_to '내 지원서', recruits_sign_in_path, class: "btn btn-orange bdr-3 px-5 py-3 my-auto" %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
