<div class="container">
    <div class="header my-5">
        <h1 class="text-center">멋쟁이 사자처럼 7기 지원하기</h1>
        <%=link_to '지원하기', recruits_sign_up_path, class: "" %>
        </br>
        <%=link_to '내 지원서', recruits_sign_up_path, class: "" %>
        </br>
        <%=link_to '수정하기', recruits_sign_in_path, class: "" %>
    </div>
    <div class="main"></div>
</div>