<div class="bg-dark" id="main_footer">
  <div class="my-auto text-center">
    <span class="white px-3"><b>문의하기 </b></span>
    <span>
      <a href="https://open.kakao.com/o/sQ31RD7">
        <img id="" class="h-100" src="<%=asset_path 'footer/kakao_small.png'%>" alt="카카오" />
      </a>
      <a href="https://www.facebook.com/%EB%A9%8B%EC%9F%81%EC%9D%B4%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC-at-%ED%95%9C%EB%B0%AD%EB%8C%80%ED%95%99%EA%B5%90-1252739578152373/?epa=SEARCH_BOX">
        <img id="" class="h-100" src="<%=asset_path 'footer/facebook_small.png'%>" alt="페이스북" />
      </a>
    </span>
  </div>
</div>