<div class="bg-dark" id="main_footer">
  <div class="my-auto text-center">
    <span class="white px-3"><b>문의하기 </b></span>
    <span>
      <a href="https://open.kakao.com/o/gcqiuC7">
        <img id="" class="h-100" src="<%=asset_path 'footer/kakao_small.png'%>" alt="멋쟁이 사자처럼" />
      </a>
    </span>
  </div>
</div>